* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  /* background: rgb(49, 49, 49); */
  /* border: 1px solid red; */
}

body {
  width: 100vw;
  height: 50vh;
  margin-top: 25%;
  display: grid;
  place-items: center;
}

#form-container {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  padding: 50px;
  border-radius: 0.5rem;
  background: rgba(188, 188, 188, 0.9);
  box-shadow: 0px -10px 60px -1px rgba(0, 0, 0, 0.7);
}
/* .search {
  background: white;
  border-radius: 1rem;
  width: 50vw;
  height: 30px;
  opacity: 100%;
} */
input {
  font-size: 25px;
  border-radius: 0.25rem;
  width: 50vw;
  height: 5vh;
  box-shadow: 5px 7px 10px -4px rgba(0, 0, 0, 0.7);
}
button {
  font-size: 25px;
  border-radius: 0.5rem;
  margin-top: 10px;
  width: 30vw;
  height: 5vh;
  box-shadow: 5px 7px 10px -4px rgba(0, 0, 0, 0.7);
}
/* .submit {
  background: white;
  border-radius: 0.9rem;
  padding: 2%;
  opacity: 100%;
} */
.band-name {
  font-size: 25px;
}
.song-title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 25px;
  text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.31);
}
.song-lyric {
  text-align: center;
  font-size: 20px;
  width: 60vw;
  /* border: 1px solid red; */
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.31);
}
/* .song-lyric:after {
  text-align: center;
  border-radius: 0.25rem;
  padding: 30px;
  /* background: rgb(124, 124, 124); */
/* max-width: 300px; */
/* }  */

.lyric-container {
  padding: 50px;
  margin-top: 25px;
  border-radius: 0.5rem;
  color: black;
  background: rgba(188, 188, 188, 0.9);
  box-shadow: 0px -10px 60px -1px rgba(0, 0, 0, 0.7);
  display: none;
  /* overflow: scroll; */
  /* max-height: 30vh; */
}

.header {
  font-size: 35px;
  margin-bottom: 25px;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.31);
}
